<nav class="bg-dark py-2">
  <div class="container">
    <div class="row">
      <div class="col text-start text-white ms-3 my-3">
        <h3>Admin Tabs</h3>
      </div>
      <div class="col text-end me-2">
        <%= link_to 'Back', :back, class:"btn btn-outline-light btn-lg m-1" %>
        <button class="btn btn-outline-light btn-lg m-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <i class="bi bi-list"></i>
        </button>
      </div>
    </div>
  </div>
</nav>


<div class="offcanvas offcanvas-start offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Admin Tabs</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="list-group">
      <%= link_to 'My Profile', profile_path(current_user.id), class: params[:action] == 'show' ? "list-group-item list-group-item-action list-group-item-dark active" : "list-group-item list-group-item-action list-group-item-dark" %>
      <%= link_to 'User lists', userlist_profile_path, class: params[:action] == 'userlist' ? "list-group-item list-group-item-action list-group-item-dark active" : "list-group-item list-group-item-action list-group-item-dark" %>
      <%= link_to 'All posts', allpost_profile_path, class: params[:action] == 'allpost' ? "list-group-item list-group-item-action list-group-item-dark active" : "list-group-item list-group-item-action list-group-item-dark" %>
    </div>
  </div>
</div>