<%= render 'search' %>
<div class="text-center mb-2 my-4">
  <h1>Posts</h1>
  <%= link_to ' Create a new post', new_post_path, class:'btn btn-primary mb-3 btn-lg bi bi-plus-lg' if user_signed_in? %>
</div>


<% if @posts.empty? %>
  <%= render 'pages/emptyalert' %>
<% else %>
<div class="container">
  <%= render 'post', obj: @posts %>
</div>
<% end %>
