@import 'bootstrap/dist/css/bootstrap';

.navbar-brand {
    font-size: 2rem;
}
/* Sticky Footer Classes */

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

/* Other Classes for Page Styling */

body {
    background: #ffffff;
    // background: linear-gradient(to right, #0062E6, #33AEFF);
}


// post page
.card-hover:hover {
    transform: scale(1.05, 1.05);
    // transition-duration: 1s;
    transition: 0.3s;
}

// Ava
.avatar {
    // border-radius: 50%;
    width: 100px;
    height: 100px;
}

.avatar-lg {
    // border-radius: 50%;
    width: 200px;
    height: 200px;
}

.justify-comment {
    text-align: justify; 
    text-justify: inter-word;
}

#more {
    display: none;
}

.card-jumbotron {
    padding: 3rem;
    min-height: 250px;
    border-radius: .0rem .0rem .3rem .3rem;
}

.carousel-height {
    height: 300px;
}

.card-profile {
    border-radius: .0rem .0rem .0rem .0rem;
}

.rounded-table{
    border-radius: .0rem .0rem .3rem .3rem;
}

.alert-message {
    animation:mymove 6s;
    visibility: hidden;
    top: 10px;
    z-index: 999;
}

.card-show-post {
    min-height: 472px;
}

.img-carousel {
    height: 500px;
    object-fit: contain;
}

.carousel-item {
    height: 500px;
}


// .img-show {
//     object-fit: contain;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     height: 400px;
//     width: 100%;
// }

.avatar-sm {
    width: 40px;
    height: auto;
}

.card-image {
    object-fit: contain;
}

@keyframes mymove {
    from {
        visibility: visible;
    }        

    to {
        visibility: hidden;
    }
}

